@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/Content/css")
    @{ Html.RenderPartial("_html5shiv"); }
</head>
<body>
    @{ Html.RenderPartial("_Menu"); }
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>