@model Shop.Areas.Security.Models.LogOnModel

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Login", new {area = "Security"}, FormMethod.Post, new {@class="navbar-form pull-right"})) {
        <strong>@User.Identity.Name</strong>
        <a id="logout" class="btn">
            <i class="icon-lock" /> Выход
        </a>
    }
}
else
{
    using (Html.BeginForm("LogOn", "Login", new {area = "Security"}, FormMethod.Post, new {@class="navbar-form pull-right"})) {
        <input class="span2" name="Username" type="text" placeholder="Имя пользователя/Email">
        <input class="span2" name="Password" type="password" placeholder="Пароль">
        <button type="submit" class="btn">Вход</button>
    }
}