body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.field-validation-error {
    color: red;
}

.validation-summary-errors {
    color: red;
}

.validation-summary-errors ul {
    margin-left: 0;
    list-style: none;
}